*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: normal 14px/1.4 Arial, Helvetica, sans-serif;
}

.skrollr-desktop body {
	height: 100% !important;
}

#skrollr-body {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.parallax-image.skrollable-between {
	display: block;
}

.no-skrollr .parallax-image-wrapper {
	display: none !important;
}

.parallax-image-wrapper {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 80vh;
	top: -80vh;
}

.parallax-image {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	top:0;
}

.parallax-image.skrollable-between {
	display: block;
}

.no-skrollr .parallax-image-wrapper {
	display: none !important;
}

.gap {
	background: transparent center no-repeat;
	background-size: cover;
	height: 58vh;
}

.skrollr .gap {
	background: transparent !important;
}

#page-intro h1 {
	text-align: center;
	color: #fff;
	font: normal 128px 'Droid Serif', sans-serif;
	padding-top: 24vh;
}

@media (max-width: 800px) {
	#page-intro h1 {
		font-size: 42px;
		padding-top: 15vh;
	}
}

.body-text {
	padding: 30px 0;
	background-color: #fff;
	color: #25373C;
	font-size: 18px;
	text-align: center;
}

.body-text h2 {
	font-size: 42px;
	font-weight: normal;
	margin-bottom: 80px;
}

.body-text p {
	width: 80%;
	display: inline-block;
	text-align: left;
	padding: 20px;
	color: #45636B;
}

@media (max-width: 900px) {
	.body-text p {
		width: 100%;
	}
}

footer {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 55px;
	overflow: hidden;
}

footer .footer-left{
	float: left;
}

footer h3 {
	color: #5383d3;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

footer .footer-links {
	color: #95A4A9;
	margin: 22px 0 14px;
	padding: 0;
}

footer .footer-links a {
	display: inline-block;
	text-decoration: none;
	color: #242424;
}

footer .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

footer .footer-right{
	float: right;
	width: 100%;
}

footer form input::-webkit-input-placeholder {
	color: #5c666b;
}

footer form input::-moz-placeholder {
	opacity: 1;
	color: #5c666b;
}

footer form input:-ms-input-placeholder {
	color: #5c666b;
}

@media (max-width: 1100px) {
	footer .footer-left {
		margin-bottom: 50px;
	}
	footer .footer-right {
		float: left;
		clear: left;
	}
}
